<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crea Utente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

        body {
        font-family: "Playwrite GB S", cursive;
        }
    </style>
</head>
<body style="background-color: lightgrey">
<nav class="navbar  navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light me-5" href="/">
            <span class="fw-bold">Rubrica</span>
            <img src="https://cdn.pixabay.com/photo/2013/04/01/09/18/address-book-98482_1280.png" alt="rubrica"
                 style="max-width: 50px;transform: rotate3d(-1,-1,-1, 15deg)">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/rubrica">Rubrica</a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <div>
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav " sec:authorize="!isAuthenticated()">
                <li class="nav-item me-2 mb-2">
                    <a class="btn btn-success" href="/login">Accedi</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/register">Registrati</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container my-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center my-4">Nuovo Utente <i class="fa-solid text-success fa-user-plus"></i></h1>
        <div class="rounded shadow p-5 w-50 bg-light">
            <form action="#" th:action="@{/rubrica/nuovoUtente}" th:object="${utente}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome utente:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Età:</label>
                    <input type="number" class="form-control" id="age" th:field="*{age}"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                </div>
                <div class="mb-3" id="phoneNumbers">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <label class="form-label">Numeri di telefono:</label>
                        <button type="button" class="btn btn-outline-success" onclick="addPhoneNumber()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="phoneNumber">
                        <input type="text" class="form-control mb-2" th:field="*{phoneNumbers[0]}"
                               placeholder="Numero di telefono"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('phoneNumbers')}" th:errors="*{phoneNumbers}"></p>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Crea Utente</button>
            </form>
        </div>
    </div>
</div>

<script>
    let phoneNumberIndex = 1;
    const phoneNumbersDiv = document.getElementById('phoneNumbers');

    function addPhoneNumber() {
        const phoneNumberDiv = document.createElement('div');
        phoneNumberDiv.classList.add('d-flex', 'align-items-center');

        const input = document.createElement('input');
        input.type = 'text';
        input.name = 'phoneNumbers[' + phoneNumberIndex + ']';
        input.classList.add('form-control', 'my-3');
        input.placeholder = 'Numero di telefono';

        const button = document.createElement('button');
        button.type = 'button';
        button.classList.add('btn', 'btn-danger', 'ms-2');
        button.onclick = function() { removePhoneNumber(button); };

        const icon = document.createElement('i');
        icon.classList.add('fa-solid', 'fa-minus');

        button.appendChild(icon);
        phoneNumberDiv.appendChild(input);
        phoneNumberDiv.appendChild(button);
        phoneNumbersDiv.appendChild(phoneNumberDiv);

        phoneNumberIndex++;
    }

    function removePhoneNumber(button) {
        const phoneNumberDiv = button.parentNode;
        phoneNumberDiv.parentNode.removeChild(phoneNumberDiv);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>