<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Modifica di ' + ${utente.name}">Modifica Utente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

        body {
        font-family: "Playwrite GB S", cursive;
        }
    </style>
</head>
<body style="background-color: lightgrey">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container my-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center my-4">Modifica Utente <i class="fa-solid text-success fa-user-pen"></i></h1>
        <div class="rounded shadow p-5 w-50 bg-light">
            <form action="#" th:action="@{/rubrica/update/{id}(id=${utente.id})}" th:object="${utente}" method="post">
                <input type="hidden" name="id" th:value="${utente.id}"/>
                <label class="form-label">Nome:</label>
                <input type="text" class="form-control" th:field="*{name}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <br/>
                <label class="form-label">Email:</label>
                <input type="text" class="form-control" th:field="*{email}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <br/>
                <label class="form-label">Età:</label>
                <input type="text" class="form-control" th:field="*{age}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                <br/>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <label class="form-label">Numeri di telefono:</label>
                    <button type="button" class="btn btn-outline-success" onclick="addPhoneNumber()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div id="phoneNumbers">
                    <div th:each="phoneNumber, iterStat : ${utente.phoneNumbers}">
                        <div class="d-flex align-items-center mb-2">
                            <input type="text" class="form-control" th:field="*{phoneNumbers[__${iterStat.index}__]}"
                                   th:value="${phoneNumber}" placeholder="Numero di telefono"/>
                            <button th:if="${#lists.size(utente.phoneNumbers) > 1}" type="button"
                                    class="btn btn-danger ms-2" onclick="removePhoneNumber(this)">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </div>
                        <p class="text-danger" th:if="${#fields.hasErrors('phoneNumbers[__${iterStat.index}__]')}"
                           th:errors="*{phoneNumbers[__${iterStat.index}__]}"></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Modifica</button>
            </form>
        </div>
    </div>
</div>
<script>
    let phoneNumberIndex = [[${#lists.size(utente.phoneNumbers)}]];
    const phoneNumbersDiv = document.getElementById('phoneNumbers');

    function addPhoneNumber() {
        const phoneNumberDiv = document.createElement('div');
        phoneNumberDiv.classList.add('d-flex', 'align-items-center');

        const input = document.createElement('input');
        input.type = 'text';
        input.name = 'phoneNumbers[' + phoneNumberIndex + ']';
        input.classList.add('form-control', 'my-3');
        input.placeholder = 'Numero di telefono';

        const button = document.createElement('button');
        button.type = 'button';
        button.classList.add('btn', 'btn-danger', 'ms-2');
        button.onclick = function() { removePhoneNumber(button); };

        const icon = document.createElement('i');
        icon.classList.add('fa-solid', 'fa-minus');

        button.appendChild(icon);
        phoneNumberDiv.appendChild(input);
        phoneNumberDiv.appendChild(button);
        phoneNumbersDiv.appendChild(phoneNumberDiv);

        phoneNumberIndex++;

        if (phoneNumberIndex > 1) {
            const removeButtons = document.querySelectorAll('#phoneNumbers .btn-danger');
            removeButtons.forEach(btn => btn.style.display = 'inline-block');
        }
    }

    function removePhoneNumber(button) {
        const phoneNumberDiv = button.parentNode;
        const errorParagraph = phoneNumberDiv.nextElementSibling;

        if (errorParagraph) {
            errorParagraph.remove();
        }

        phoneNumberDiv.parentNode.removeChild(phoneNumberDiv);

        phoneNumberIndex--;

        // Controlla se ci sono più button di eliminazione(e quindi più campi input per numeri di telefono)
        // e se è così non mostra il primo in modo che non possa essere eliminato
        const removeButtons = document.querySelectorAll('#phoneNumbers .btn-danger');
        if (removeButtons.length > 0) {
            removeButtons[0].style.display = 'none';
        }
    }

    // Fa la stessa cosa appena sopra, ma al ricaricamento della pagina, restando in ascolto
    document.addEventListener('DOMContentLoaded', function() {
        const removeButtons = document.querySelectorAll('#phoneNumbers .btn-danger');
        if (removeButtons.length > 0) {
            removeButtons[0].style.display = 'none';
        }

    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>